<!DOCTYPE html>

<html ng-app='myApp'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js">
    </script>
    <script src="js/main.js"></script>
  </head>
  <body>
    <div ng-controller="PlayerController">
      <button ng-click="play()" class="button" ng-show="!playing">Play</button>
      <button ng-click="stop()" class="button alert" ng-show="playing">Stop</button>
      Playing audio: <b>{{ playing }}</b>
    </div>
    <div ng-controller="MyController">
      <h5>{{ clock }}</h5>
      <h5>{{ person.name }}
    </div>
    <div ng-controller="DemoController">
      <h4> simple adding machine </h4>
      <button ng-click='add(1)' class='button'>Add 1</button>
      <button ng-click='subtract(1)' class='button'>Less 1</button>
      <h2>{{ counter }}
    </div>
    <div ng-controller='DemoHTTP'>
      AJAX $http request from github:
      <pre style="overflow:hidden; width:500px; border:1px solid #aaa"> {{ data }} </pre>
    </div>
  </body>
</html>